import {{pascalCase name}} from "@/components/experiments/{{dashCase name}}/{{pascalCase name}}";

export default function Page() {
return (
<div className="w-full h-screen bg-background">
    <{{pascalCase name}} />
</div>
);
}