import "../experiments.css";

export const metadata = {
  title: '{{titleCase name}}',
  description: '{{description}}',
};

export default function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
